@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e272e;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 400px;
  height: 400px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.box {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: cyan;
  scale: 0.8;
  animation: hue 5s linear infinite;
}
@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 400px) {
  .container {
    width: 350px;
    height: 350px;
  }
  .box {
    width: 35px;
    height: 35px;
  }
}
