@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Wallpoet&display=swap');

@font-face {
    font-family: digital-7;
    src: url(/css/digital-7.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.input{
    width: 250px;
    height: 400px;
    background-color: #95a5a6;
    padding: 10px;
    font-weight: 500;
}
.output{
    width: 400px;
    height: 400px;
    background-color: #7f8c8d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.form-grp{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
}
input[type='url'],
select{
    border-radius: 3px;
    outline: none;
    border: none;
    border-radius: 1px solid rgba(128, 128, 128, 0.65);
    padding-left: 10px;
    height: 25px;
}
.btn{
    height: 30px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover,
#btn-save:hover{
    transform: scale(1.2);
    background-color: #e74c3c;
    color: white;
}
.btn:active,
#btn-save:active{
    transform: scale(1.2);
    background-color: #c0392b;
    color: white;
    box-shadow: 0 0 5px 1px #e74c3c;
    font-weight: 700;
}
#btn-save{
    background-color: white;
    display: inline-block;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 30px;
    color: black;
    margin-top: 5px;
    transition: 0.3s;
}
input[type='color']{
    border-radius: 3px;
    outline: none;
    border: none;
    border-radius: 1px solid rgba(128, 128, 128, 0.65);
    height: 25px;
    width: 50%;
}
#qrcode{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#qrcode img{
    width: 100%;
    height: 100%;
}
.spinner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #bdc3c7;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.loader{
    width: 50px;
    height: 50px;
    border: 5px solid #a2b5c2;
    border-top-color: #e74c3c;
    border-bottom-color: #e74c3c;
    border-radius: 50%;
    animation: loading 2s linear infinite;
}
@keyframes loading{

    100%{
        transform: rotate(360deg);
    }
}